.app {
  text-align: center;
}

.appContainer {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: 000;
}

.baseCard{
  background-color: blueviolet;
  padding: 1rem 2rem;
  width: 50%;
  border-radius: 1rem;
} 


.form{
  display: flex;
  flex-direction: column;
}

